.App {
  text-align: left;
}

.same-line{
  display: flex;
}

.by-team{
  padding-top: 15px;
  padding-left: 10px;
}

.central{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.btn-menu{
  margin: 5px;
}

.loading {
  text-align: center
}

.light-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
  font-weight: bold;
  padding-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

